/* Global styles */
body {
    transform: rotate(90deg); /* Rotates the entire body content */
    font-family: Arial, sans-serif;
    background-color: #f6f5f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top (since it's rotated) */
    align-items: flex-start; /* Align content to the left (since it's rotated) */
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items:baseline; /* Align items to the left */
    justify-content: flex-end; /* Align content to the top */
    margin-left: 20px; /* Adjust left margin as needed */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.meter-container {
    width: 100%;
    height: 30px;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
}

.meter {
    height: 100%;
    background-color: #4caf50;
}

#meter-bar {
    height: 100%;
    width: 0%;
    background-color: #1791c9;
    transition: width 0.2s ease-in-out;
}

#sound-chart {
    margin: 20px 0;
}

p {
    font-size: 18px;
}

/* Chart.js styles */
.canvas-container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 5000px;
    height: auto;
}

.sound-level {
    font-size: 0%;
}

.mr {
    font-size: 0%;
}
